{% extends "base.html" %}

{% load static %}

{% block header %}
    <div class="main">
        <form class="form" method="POST" autocomplete="on">
            {% csrf_token %}
            <div class="title">Register</div>
            <input type="text" name="first_name" value="{{ first_name }}" placeholder="First Name" required>
            <input type="text" name="last_name" value="{{ last_name }}" placeholder="Last Name" required>
            <input type="text" name="email" value="{{ email }}" placeholder="Email Address" required>
            <input type="text" name="phone" value="{{ phone }}" placeholder="Phone Number (+98)" required>
            <input type="password" name="password1" placeholder="Password" required>
            <input type="password" name="password2" placeholder="Password Again" required>
            <input type="submit" value="Register">
        </form>
    </div>

    {% if message == 'not_valid_email' %}
        <script>
            Swal.fire(
                'Email',
                'Your email address is not valid',
                'error'
            )
        </script>
    {% elif message == 'duplicate_email' %}
        <script>
            Swal.fire(
                'Email',
                'The email address is duplicate',
                'error'
            )
        </script>
    {% elif message == 'not_same_password' %}
        <script>
            Swal.fire(
                'Password',
                'Your entered passwords are not match',
                'error'
            )
        </script>
    {% elif message == 'not_valid_phone' %}
        <script>
            Swal.fire(
                'Phone Number',
                'Your phone number is not valid',
                'error'
            )
        </script>
    {% endif %}

{% endblock %}